In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('datasets_scraped/large-dataset.csv', index_col=None)
df.columns = ['sentiment', 'id', 'description', 'Query', 'username', 'text']
df = df.drop(['Query', 'id'], 1)
df

,sentiment,description,username,text
0,0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,0,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,0,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...
1599994,4,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [3]:
cols = df.columns.tolist()
cols = ['username', 'sentiment', 'text', 'description']
df = df[cols]
df

,username,sentiment,text,description
0,scotthamilton,0,is upset that he can't update his Facebook by ...,Mon Apr 06 22:19:49 PDT 2009
1,mattycus,0,@Kenichan I dived many times for the ball. Man...,Mon Apr 06 22:19:53 PDT 2009
2,ElleCTF,0,my whole body feels itchy and like its on fire,Mon Apr 06 22:19:57 PDT 2009
3,Karoli,0,"@nationwideclass no, it's not behaving at all....",Mon Apr 06 22:19:57 PDT 2009
4,joy_wolf,0,@Kwesidei not the whole crew,Mon Apr 06 22:20:00 PDT 2009
...,...,...,...,...
1599994,AmandaMarie1028,4,Just woke up. Having no school is the best fee...,Tue Jun 16 08:40:49 PDT 2009
1599995,TheWDBoards,4,TheWDB.com - Very cool to hear old Walt interv...,Tue Jun 16 08:40:49 PDT 2009
1599996,bpbabe,4,Are you ready for your MoJo Makeover? Ask me f...,Tue Jun 16 08:40:49 PDT 2009
1599997,tinydiamondz,4,Happy 38th Birthday to my boo of alll time!!! ...,Tue Jun 16 08:40:49 PDT 2009
1599998,RyanTrevMorris,4,happy #charitytuesday @theNSPCC @SparksCharity...,Tue Jun 16 08:40:50 PDT 2009

In [4]:
# from textblob import TextBlob
# sentiment = []

# for sentence in df['text']: 
#     sentiment.append(TextBlob(sentence).sentiment.polarity*10)

# df['sentiment'] = sentiment
# df

In [5]:
df.to_csv('./datasets_scraped/kaggle-dataset')